html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

body {
  background: url(../images/zone.png) 50% 40%;
  font-family: Montserrat, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 0;
}

.header__info {
  color: #fff;
  display: flex;
  font-weight: 700;
}

.header__circle {
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.09);
  height: 136px;
  width: 136px;
}

.header__star {
  align-items: center;
  background: url(../images/star.png) center center no-repeat;
  display: flex;
  font-size: 24px;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header__score {
  align-items: center;
  background: #fff;
  border-radius: 62px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 70px;
  justify-content: center;
  margin-top: 17px;
  margin-left: -77px;
  position: relative;
  width: 232px;
  z-index: -1;
}

.header__points {
  align-items: center;
  background: #A0B4BE;
  border-radius: 62px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 35px;
  height: 49px;
  justify-content: flex-end;
  width: 207px;
}

.header__numbers {
  align-items: center;
  display: inline-flex;
  height: 39px;
  justify-content: center;
  margin-right: 28px;
  width: 110px;
}

.header__lives {
  align-items: center;
  background: #fff;
  border-radius: 62px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: -90px;
  margin-top: -9px;
  position: relative;
  width: 193px;
  z-index: -2;
}

.header__lives-item {
  height: 22px;
  margin-top: 3px;
  width: 22px;
}

.header__lives-item + .header__lives-item {
  margin-left: 6px;
}

.header__lives-item:last-child {
  margin-right: 19px;
}

.header__lives-item.heart-red {
  background: url(../images/heart-red.png) center center no-repeat;
}

.header__lives-item.heart-grey {
  background: url(../images/heart-grey.png) center center no-repeat;
}

.header__buttons {
  display: flex;
}

.header__btn-start {
  background: #fff;
  border: 8px solid #fff;
  border-radius: 62px;
  height: 55px;
  margin-right: 13px;
  outline: none;
  transition: all .5s;
  width: 217px;
}

.header__btn-question {
  background: #fff;
  border: 8px solid #fff;
  border-radius: 62px;
  height: 55px;
  outline: none;
  transition: all .5s;
  width: 55px;
}

.header__btn-start:hover,
.header__btn-question:hover {
  background: #27A8F3;
  cursor: pointer;
}

.header__btn-start:hover .header__btn-text,
.header__btn-question:hover .header__btn-text {
  color: #fff;
}

.header__btn-text {
  color: #27A8F3;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-flex;
  margin-top: -2px;
}

.header__btn-text_fz20 {
  font-size: 20px;
}

.header__btn-text_fz30 {
  font-size: 30px;
}

.main {
  height: 550px;
  margin: 0 auto;
  position: relative;
  width: 950px;
}

.emoji {
  cursor: pointer;
  height: 120px;
  width: 120px;
  animation: emoji 1.5s;
}

.hole-1 {
  position: absolute;
  left: 85px;
  top: 90px;
}

.hole-2 {
  position: absolute;
  left: 420px;
  top: 140px;
}

.hole-3 {
  position: absolute;
  left: 755px;
  top: 65px;
}

.hole-4 {
  position: absolute;
  left: 245px;
  top: 350px;
}

.hole-5 {
  position: absolute;
  left: 570px;
  top: 355px;
}

@keyframes emoji {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
